<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FAHControl_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FAHControl_.My.MySettings>
            <setting name="fahClientHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="fahClientPort" serializeAs="String">
                <value>36330</value>
            </setting>
            <setting name="fahClientPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="fahSnoozeValue" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="fahSlotWhitelist" serializeAs="String">
                <value />
            </setting>
            <setting name="fahUseConfApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fahConfApps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </FAHControl_.My.MySettings>
    </userSettings>
</configuration>